@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common xs1, xs2 */

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {}


/* Common sm1, sm2 tablet */

@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {}

@media all and (min-width: #{$mq-md + "px"}) {
    .Section-01 {
        height: 100vh;
        background: #35a7b5;
        background: -moz-linear-gradient(top, #35a7b5 0%, #65babf 29%, #86cdc9 51%, #cacaa9 73%, #d2a085 100%);
        background: -webkit-linear-gradient(top, #35a7b5 0%, #65babf 29%, #86cdc9 51%, #cacaa9 73%, #d2a085 100%);
        background: linear-gradient(to bottom, #35a7b5 0%, #65babf 29%, #86cdc9 51%, #cacaa9 73%, #d2a085 100%);
        .img {
            position: absolute;
            z-index: 0;
            width: 50%;
            height: 100%;
            margin-left: 25%;
            top: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .aa {
            &:nth-child(2n+2) {
                background-color: #c69b81;
            }
            &:nth-child(2n+1) {
                background-color: #bb957c;
            }
        }
        .a1 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20%;
            height: 76px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: height 0.3s ease, background-color 0.3s ease;
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                height: 150px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                .box1 {
                    opacity: 1;
                    img {
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                }
                .info {
                    color: black;
                    top: 27px;
                }
            }
            .box {
                position: absolute;
                object-fit: cover;
                bottom: 80px;
                width: 120px;
                height: 120px;
                top: -49px;
                opacity: 0;
                transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: auto;
                    border-radius: 50%;
                }
            }
            .info {
                color: white;
                font-weight: 900;
                font-size: 20px;
                letter-spacing: 1px;
                transition: color 0.3s 0s ease;
            }
        }
        .a2 {
            position: absolute;
            bottom: 0;
            left: 20%;
            width: 20%;
            height: 76px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: height 0.3s ease, background-color 0.3s ease;
            .box {
                position: absolute;
                object-fit: cover;
                bottom: 80px;
                width: 120px;
                height: 120px;
                top: -49px;
                opacity: 0;
                transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: auto;
                    border-radius: 50%;
                }
            }
            .info {
                color: white;
                font-weight: 900;
                font-size: 20px;
                letter-spacing: 1px;
                transition: color 0.3s 0s ease;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                height: 150px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                .box1 {
                    opacity: 1;
                    img {
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                }
                .info {
                    color: black;
                    top: 27px;
                }
            }
        }
        .a3 {
            position: absolute;
            bottom: 0;
            left: 40%;
            width: 20%;
            height: 76px;
            justify-content: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: height 0.3s ease, background-color 0.3s ease;
            .box {
                position: absolute;
                object-fit: cover;
                bottom: 80px;
                width: 120px;
                height: 120px;
                top: -49px;
                opacity: 0;
                transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: auto;
                    border-radius: 50%;
                }
            }
            .info {
                color: white;
                font-weight: 900;
                font-size: 20px;
                letter-spacing: 1px;
                transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                height: 150px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                .box1 {
                    opacity: 1;
                    img {
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                }
                .info {
                    color: black;
                    top: 27px;
                }
            }
        }
        .a4 {
            position: absolute;
            bottom: 0;
            left: 60%;
            width: 20%;
            height: 76px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: height 0.3s ease, background-color 0.3s ease;
            .box {
                position: absolute;
                object-fit: cover;
                bottom: 80px;
                width: 120px;
                height: 120px;
                top: -49px;
                opacity: 0;
                transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: auto;
                    border-radius: 50%;
                }
            }
            .info {
                color: white;
                font-weight: 900;
                font-size: 20px;
                letter-spacing: 1px;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                height: 150px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                .box1 {
                    opacity: 1;
                    img {
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                }
                .info {
                    color: black;
                    top: 27px;
                }
            }
        }
        .a5 {
            position: absolute;
            bottom: 0;
            left: 80%;
            width: 20%;
            height: 76px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: height 0.3s ease, background-color 0.3s ease;
            .box {
                position: absolute;
                object-fit: cover;
                bottom: 80px;
                width: 120px;
                height: 120px;
                top: -49px;
                opacity: 0;
                transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: auto;
                    border-radius: 50%;
                }
            }
            .info {
                color: white;
                font-weight: 900;
                font-size: 20px;
                letter-spacing: 1px;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                height: 150px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                .box1 {
                    opacity: 1;
                    img {
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                }
                .info {
                    color: black;
                    top: 27px;
                }
            }
        }
    }
}