*, *::before, *::after {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: 0;
  text-rendering: optimizeLegibility;
}

blockquote {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, header, aside, img {
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield !important; /* Firefox */
}

hr {
  height: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #F0F0F0;
}

.c-wrapper {
  margin: 0 auto;
}

/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .c-wrapper {
    width: calc(100% - 32px);
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .c-wrapper {
    width: 760px;
  }
}
@media all and (min-width: 1320px) {
  .c-wrapper {
    width: 1300px;
  }
}
/* Common xs1, xs2 */
/* Common sm1, sm2 tablet */
@media all and (min-width: 1320px) {
  .Section-01 {
    height: 100vh;
    background: #35a7b5;
    background: linear-gradient(to bottom, #35a7b5 0%, #65babf 29%, #86cdc9 51%, #cacaa9 73%, #d2a085 100%);
  }
  .Section-01 .img {
    position: absolute;
    z-index: 0;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .Section-01 .aa:nth-child(2n+2) {
    background-color: #c69b81;
  }
  .Section-01 .aa:nth-child(2n+1) {
    background-color: #bb957c;
  }
  .Section-01 .a1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  .Section-01 .a1:hover {
    background-color: rgba(255, 255, 255, 0.8);
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Section-01 .a1:hover .box1 {
    opacity: 1;
  }
  .Section-01 .a1:hover .box1 img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Section-01 .a1:hover .info {
    color: black;
    top: 27px;
  }
  .Section-01 .a1 .box {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    bottom: 80px;
    width: 120px;
    height: 120px;
    top: -49px;
    opacity: 0;
    transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
  }
  .Section-01 .a1 .box img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    border-radius: 50%;
  }
  .Section-01 .a1 .info {
    color: white;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
    transition: color 0.3s 0s ease;
  }
  .Section-01 .a2 {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 20%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  .Section-01 .a2 .box {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    bottom: 80px;
    width: 120px;
    height: 120px;
    top: -49px;
    opacity: 0;
    transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
  }
  .Section-01 .a2 .box img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    border-radius: 50%;
  }
  .Section-01 .a2 .info {
    color: white;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
    transition: color 0.3s 0s ease;
  }
  .Section-01 .a2:hover {
    background-color: rgba(255, 255, 255, 0.8);
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Section-01 .a2:hover .box1 {
    opacity: 1;
  }
  .Section-01 .a2:hover .box1 img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Section-01 .a2:hover .info {
    color: black;
    top: 27px;
  }
  .Section-01 .a3 {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 20%;
    height: 76px;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  .Section-01 .a3 .box {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    bottom: 80px;
    width: 120px;
    height: 120px;
    top: -49px;
    opacity: 0;
    transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
  }
  .Section-01 .a3 .box img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    border-radius: 50%;
  }
  .Section-01 .a3 .info {
    color: white;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
    transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
  }
  .Section-01 .a3:hover {
    background-color: rgba(255, 255, 255, 0.8);
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Section-01 .a3:hover .box1 {
    opacity: 1;
  }
  .Section-01 .a3:hover .box1 img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Section-01 .a3:hover .info {
    color: black;
    top: 27px;
  }
  .Section-01 .a4 {
    position: absolute;
    bottom: 0;
    left: 60%;
    width: 20%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  .Section-01 .a4 .box {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    bottom: 80px;
    width: 120px;
    height: 120px;
    top: -49px;
    opacity: 0;
    transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
  }
  .Section-01 .a4 .box img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    border-radius: 50%;
  }
  .Section-01 .a4 .info {
    color: white;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .Section-01 .a4:hover {
    background-color: rgba(255, 255, 255, 0.8);
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Section-01 .a4:hover .box1 {
    opacity: 1;
  }
  .Section-01 .a4:hover .box1 img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Section-01 .a4:hover .info {
    color: black;
    top: 27px;
  }
  .Section-01 .a5 {
    position: absolute;
    bottom: 0;
    left: 80%;
    width: 20%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  .Section-01 .a5 .box {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    bottom: 80px;
    width: 120px;
    height: 120px;
    top: -49px;
    opacity: 0;
    transition: opacity 0.3s 0s ease, visibility 0s 0.3s;
  }
  .Section-01 .a5 .box img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
    border-radius: 50%;
  }
  .Section-01 .a5 .info {
    color: white;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .Section-01 .a5:hover {
    background-color: rgba(255, 255, 255, 0.8);
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Section-01 .a5:hover .box1 {
    opacity: 1;
  }
  .Section-01 .a5:hover .box1 img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .Section-01 .a5:hover .info {
    color: black;
    top: 27px;
  }
}
/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .header-01 {
    height: 64px;
    background-color: #FFF;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-01 .c-wrapper .c-item-01 {
    display: none;
  }
  .header-01 .c-wrapper .c-item-02 svg {
    width: 121px;
    height: 32px;
  }
  .header-01 .c-wrapper .hamburger-menu-icon {
    display: flex;
    position: absolute;
    left: 0;
    top: 20px;
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .header-01 {
    height: 76px;
    background-color: #FFF;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-01 .c-wrapper .c-item-01 {
    display: none;
  }
  .header-01 .c-wrapper .hamburger-menu-icon {
    display: flex;
    position: absolute;
    left: 0;
    top: 26px;
  }
}
/* Common  md, lg, xl, xxl desktop*/
@media all and (min-width: 1320px) {
  .header-01 {
    height: 76px;
    background: #FFF;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .footer-01 {
    padding: 32px 0;
  }
  .footer-01 .c-wrapper .c-item-01 {
    display: flex;
    padding-top: 100px;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 {
    width: 50%;
    border-top: 1px solid #CCD5DF;
    padding-top: 32px;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li:not(:last-child) {
    margin-bottom: 16px;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a:hover {
    opacity: 1;
  }
  .footer-01 .c-wrapper .c-item-01 .logo {
    position: absolute;
    left: calc(50% - 76px);
    top: 0;
  }
  .footer-01 .c-wrapper .c-item-02 {
    margin: 40px 0;
    width: 100%;
    height: 1px;
    background-color: #CCD5DF;
  }
  .footer-01 .c-wrapper .c-item-03 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .footer-01 {
    padding: 80px 0;
  }
  .footer-01 .c-wrapper .c-item-01 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul {
    display: flex;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li:not(:last-child) {
    margin-right: 24px;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a:hover {
    opacity: 1;
  }
  .footer-01 .c-wrapper .c-item-01 .logo {
    position: absolute;
    left: 0;
  }
  .footer-01 .c-wrapper .c-item-01 .c-item-01-A > ul > li:last-child {
    margin-right: 24px;
  }
  .footer-01 .c-wrapper .c-item-02 {
    margin: 40px 0;
    width: 100%;
    height: 1px;
    background-color: #CCD5DF;
  }
  .footer-01 .c-wrapper .c-item-03 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
  }
}
/* Common  md, lg, xl, xxl desktop*/
@media all and (min-width: 1320px) {
  .footer-01 {
    padding: 80px 0;
  }
  .footer-01 .c-wrapper .c-item-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul {
    display: flex;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li:not(:last-child) {
    margin-right: 24px;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .footer-01 .c-wrapper .c-item-01 .nav-01 > ul > li > a:hover {
    opacity: 1;
  }
  .footer-01 .c-wrapper .c-item-01 .logo {
    position: absolute;
    left: calc(50% - 76px);
  }
  .footer-01 .c-wrapper .c-item-02 {
    margin: 40px 0;
    width: 100%;
    height: 1px;
    background-color: #CCD5DF;
  }
  .footer-01 .c-wrapper .c-item-03 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
  }
}
/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .card-01 {
    display: block;
  }
  .card-01 .c-item-01 {
    width: 100%;
    height: 381px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 12px;
    box-shadow: -15px 15px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
  }
  .card-01 .c-item-02 {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
  }
  .card-01 .c-item-03 {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #532C59;
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .card-01 {
    display: block;
  }
  .card-01 .c-item-01 {
    width: 100%;
    height: 381px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 16px;
    box-shadow: -15px 15px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
  }
  .card-01 .c-item-02 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
  }
  .card-01 .c-item-03 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
  }
}
@media all and (min-width: 1320px) {
  .card-01 {
    display: block;
  }
  .card-01 .c-item-01 {
    width: 100%;
    height: 375px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 16px;
    box-shadow: -15px 15px 0px rgba(255, 255, 255, 0.5);
    border-radius: 30px;
  }
  .card-01 .c-item-02 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #000000;
  }
  .card-01 .c-item-03 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
  }
}
@font-face {
  font-family: "AlfaSlabOne";
  src: url("./Fonts/AlfaSlabOne-Regular.ttf");
  font-weight: 500;
}
body {
  font-family: "Syne";
  font-size: 100%;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=Base.css.map */